
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1500262142854'); /* IE9*/
  src: url('iconfont.eot?t=1500262142854#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1500262142854') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1500262142854') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1500262142854#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star:before { content: "\e659"; }

.icon-tuiche:before { content: "\e612"; }

.icon-kuaidi:before { content: "\e60d"; }

.icon-tuihuanhuo:before { content: "\e607"; }

.icon-new:before { content: "\e645"; }

.icon-3d:before { content: "\e635"; }

.icon-dianhua:before { content: "\e652"; }

.icon-diaoseban:before { content: "\e60e"; }

.icon-arrow-left-copy:before { content: "\e60c"; }

.icon-jiantou1:before { content: "\e602"; }

.icon-weixin:before { content: "\e65f"; }

.icon-shouji:before { content: "\e60f"; }

.icon-shuxian:before { content: "\e600"; }

.icon-pinzhi:before { content: "\e6e9"; }

.icon-jiantou:before { content: "\ea81"; }

.icon-shafa:before { content: "\e6a0"; }

